<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<title>
   {%if page.title %}
       {{ page.title }}
   {% else %}
       {{ site.title }}
   {% endif %}
</title>
	
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
	
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ page.image }}" />
<meta property="og:site_name" content="Deryk Makgill">
<meta property="article:publisher" content="http://www.facebook.com/derykmakgill" />
<meta property="article:author" content="https://www.facebook.com/derykmakgill" />
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />	
	

<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="@wakgill" />
<meta name="twitter:creator" content="@wakgill">
{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ page.image }}">
{% else %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.image }}">
{% endif %}

  {%- include css.html -%}

</head>
{% if page.background %}
<body style="max-width:{{page.width}}; background:url({{page.background}})">
{% else %}
	<body>
		{% endif %}
	<table class="imaget" style="
    background: lightgray;

    border FONT-WEIGHT: 200;
    font-family: sans-serif;
"><tbody style="
    border: 2px solid black;
"><tr style="
    
"><td class="links" style="
   
"><a href="/deryk">Home</a></td><td class="links"><a href="/deryk/about">About</a></td><td class="links"><a href="/deryk/support">Support</a></td><td class="links"><a href="https://twitter.com/wakgill">Twitter</a></td></tr></tbody></table>
<span id="CONTENT">	
{% if page.background %}
<div id="content" style="background:white; padding: 5px;">
{% else %}	
<div id="content">
{% endif %}
       
	
	
{{ content }}

		   
	       
	</div></span>	    

<!--
Hello!
-->
	

	</body></html>
